#about {
    $mycolor: #6c38ac;
    h6 {
        color: $mycolor;
        font-weight: 700;
    }
    .btn-see {
        color: #6e6e6e;
        font-weight: 700;
        font-size: large;

        &:hover {
            background-color: transparent !important;
            outline: none;
        }
    }

    .btn-profile {
        background-color: $mycolor;
        color: white;
        border-radius: 10px;
        padding: 8px;
        text-transform: none;
        word-spacing: -1px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .user-profile {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0px 3px 15px #00000059;
    }
    .MuiGrid-container {
        min-height: 370px;
    }
    .user-profile-grid:nth-child(3) {
        align-self: flex-start !important;
    }
    .user-profile-grid:first-child {
        align-self: flex-start !important;
    }

    .user-profile-grid:nth-child(2) {
        align-self: flex-end !important;
    }
    .user-profile-grid:nth-child(4) {
        align-self: flex-end !important;
    }
}
.MuiModal {
    background-color: #e1dbdb;
}

#modal-box {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
    
    img {
        width: 17rem;
        height: 11rem;
        object-fit: cover;
        border-radius: 24px;
    }
    .img-group {
        display: flex;
        justify-content: center;
    }
    span {
        padding: 10px;
        color: #6c38ac;
    }
    p {
        padding: 5px;
    }
    h5 {
        color: #6c38ac;
        padding-bottom: 5px;
    }
}
@media only screen and (max-width : 800px) {
    #modal-box{
        left:13%;
        width:74%;
    }
}

