.banner {
  $media-tablet: "only screen and (max-width : 768px)";
  height: 450px;
  overflow-y: scroll;
  top: 30px;
  width: 100%;
  position: relative;

  .banner-content {
    position: absolute;
    top: 9rem;
    left: 3rem;
    width: 39%;

    h3 {
      font-weight: bold;
    }

    div {
      background-color: whitesmoke;
      border-radius: 10px;
      width: 73%;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;

      h6 {
        color: #6c38ac;
        padding-left: 30px;
        font-weight: bold;
      }
    }
    p {
      color: white;
    }
  }

  @media #{$media-tablet} {
    .banner-content {
      width: 70%;
      top: 4rem !important;
      h3 {
        font-size: 30px;
      }
      h6 {
        padding-left: 3px !important;
      }
    }
  }
}
