//==========header========
.logo {
    width: 37%;
}
.nav-link {
    cursor: pointer;
}
.header {
    z-index: 3;
    position: fixed !important;
    width: 100% !important;
    .nav-link.active {
        color: #6c38ac !important;
        font-weight: bold;
    }
}
// ======foooter=========
#footer{
a {
    cursor: pointer;
}
a.active {
    cursor: pointer;
    color: #6c38ac !important;
    text-decoration: none !important;
    font-weight: 700;
}
.MuiGrid-root.MuiGrid-item{
    width: 30%;
    text-align: center;
}
}